.WALKMAN {
    padding: 10px;
    font-family: monospace;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.WALKMAN .elapsed-time {
    font-size: 10px;
}

.WALKMAN li {
    list-style: none;
    cursor: pointer;
}

.WALKMAN li:hover {
    font-weight:bold;
}

.WALKMAN .disabled {
    opacity: 0.3;
}

.WALKMAN .selected {
    background-color: #0D6A91;
    border-radius: 4px;
}

.WALKMAN .fa {
    cursor:pointer;
}
